<!DOCTYPE html>
<html>
	<head>
		<title>Рандомный цвет</title>
		<meta charset="utf-8">
		<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/test/public/style/style.css">
	</head>
	<body>
		<section class="container button-gen">
			<div class="row">
				<button type="button" class="btn btn-primary btn-lg btn-block" id="gen">Сгенерировать цвет</button>
			</div>
		</section>
		<section class="container">
			<div class="row justify-content-between">
				<h4>Ваш цвет RGB</h4>
				<p id="rgb">rgb(255, 255, 255)</p>
				<div id="gen-you"></div>
			</div>
		</section>
		<section class="container">
			<div class="row justify-content-between">
				<h4>Последний сгенерированный цвет RGB</h4>
				<p id="rgb-last"></p>
				<div id="gen-last"></div>
			</div>
		</section>
		<script type="text/javascript" src="/test/public//javascript/script.js"></script>
	</body>
</html>